*{
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	margin: 0 auto;
	background: #B8B8B8;
	font-family: 'Didact Gothic' ;
	font-size: 20px;
	font-weight: normal;
	color: #787A7B;
}


.container{
	max-width: 1440px;
	height: 100%; 
	margin: 0 auto;
}



.header{
	
	max-width: 1440px;
	width: 100%;
	height: 72px;
	background: white;	
}

.content-header{
	display: flex;
	margin: 0 auto;
	max-width: 1110px;
	width: 100%;
	height: 100%;
}

.logo img{
	width: 136px;
	height: 43px;
	margin-right: 62px;
}
.logo{
	
	height: 100%;
	display: flex;
	align-items: center;
}

.search-address{
	display: flex;
	flex: auto;
	align-items: center;
	
}

.search-address img{

	margin-right: 20px;
}
.search-address input{
	width: 100%;
	height: 100%;
	display: block;
	border: none;
	font-family: 'Didact Gothic' ;
	font-size: 20px;
}
.login {
	margin-left: auto;
	height: 100%;
	display: flex;
	align-items: center;
}

.login span{
	font-family: 'Didact Gothic' ;
	font-size: 20px;
	margin-left: 51px;
}
.login img{
	margin-left: 20px;
}

