*{
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	margin: 0 auto;
	background: #B8B8B8;
	font-family: 'Didact Gothic' ;
	font-size: 20px;
	font-weight: normal;
	color: #787A7B;
}


.container{
	max-width: 1110px;
	height: 100%; 
	margin: 0 auto;
}



.content-header{
	display: flex;
	max-width: 1110px;
	width: 100%;
	height: 72px;
	background: white;
	
	
}

.logo img{
	width: 136px;
	height: 43px;
	margin-left: 99px;
	margin-right: 62px;
}
.logo{
	
	height: 100%;
	display: flex;
	align-items: center;
}

.search-address{
	width: 828px;
	
}
.search-address p{
	height: 100%;
	display: flex;
	align-items: center;
}

.search-address p img{
	margin-left: 17px;
	margin-right: 12px;
}
.search-address p input{
	width: 221px;
	border: none;
}
.login p{
	height: 100%;
	display: flex;
	align-items: center;
}
.login p label{
	margin-left: 51px;
	margin-right: 14px;
}
.login p img{
	margin-right: 159px;
}

